.holder {
    border-color: black; border-style: solid;
    background-color: olive;
    margin-top: 250px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    height: 300px;
}

div {
    border-color: red;
}

.main {
    background-color: burlywood;
    border-color: black; border-style: solid;
    width: 100%;
    height: 100%;
}

.header {
    border-color: black; border-style: solid;
    background-color: burlywood;
    width: 100%;
    height: 75px;
    margin-bottom: 20px;
}

.sub-header {
    border-radius: 10px; border-color: olive;
    background-color: olive;
    margin-top: 2px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}